* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    text-align: center;
    background: url(./What-is-an-Electric-Circuit-1024x683.jpg) ;
    display: inline;
    width: 100%;
    height: auto;
}

header {
   color: rgb(236, 236, 236);
   background: rgba(0, 0, 0, 0.629);
   backdrop-filter: blur(10px);
   position: fixed;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
}
.navbar {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-self: center;
    margin-right: 200px;

}
#logo {
    
    font-size: xx-large;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;

}
.navbar a {
    margin-left: 20px;
}
a {
    color: aliceblue;
    text-decoration: none;
}
.img2 img{
       width: 366px;
    height: 406px;
    overflow: hidden;
    margin-left: 260px;
    border-radius: 50px;
    border: solid 10px ;
    background: linear-gradient(180°,#016e7072,#06979953);
    transition: 0.3s;
    border-color: #78787867;
    box-shadow: 0 0 25px var(--main-color);
}
.img2 img:hover {
box-shadow:0 0 25px white,
            0 0 50px white,
            0 0 80px white;

}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: aliceblue;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;

}
section {
    display: block;

}
.text0 {
     border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 101, 101, 0.809);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
#ref {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0, 101, 101, 0.768);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}
.name {
    font-size: xx-large;
    color: aliceblue;

}
#rlc { margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.text1 {
    background-color: rgba(0, 101, 101, 0.764);
    border-radius: 20px;
    padding: 20px;
     font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;

}
.text2 {
    background-color: rgba(0, 101, 101, 0.764);
    border-radius: 20px;
    padding: 20px;
     font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
.text3 {
    background-color: rgba(0, 101, 101, 0.764);
    border-radius: 20px;
    padding: 20px;
     font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

h2 {
    font-weight: 800;
}
.cont {
     font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;

}
#href {
    margin-top: 25px;
    background-color: rgba(0, 101, 101, 0.785);
    border-radius: 20px;
    padding: 20px;
     font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}
.cont {
    display: flex;
    margin-left: 10px;
}
#link {
    background-color: rgba(0, 101, 101, 0.86);
    border-radius: 20px;
    padding: 20px;
     font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 80px;
    margin-left: 300px;
    margin-right: 300px;
    display: grid;
    grid-template-columns: 1frs;
} 
.botton {
    border: solid;
    border-radius: 5px;
    background-color: #00a1a4;
    border-color: #00a1a4;
    font-size: x-large;
    
}
.botton:hover {
    transition: 0.5s
     cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(120%);
}
